
<h1>Chat with the coach here!</h1>
<div class="card">
  <h2> <%= @question %> </h2>
  <h4> - You </h4>
</div>

<div class="card">
  <h2> <%= @answer %> </h2>
  <h4> - Coach  </h4>
</div>

<div class="link">
<%= link_to "Ask again", "ask" %>
</div>
