<div class="container">
  <div class= "ask">
    <h1>Hello! I'm stupid coach, ask buddy!</h1>

    <form action="/answer">
      <input type="text" name="question">
      <input type="submit" value="Ask!" class="btn">
    </form>
  </div>
</div>
